@page
@model NorthwindApp.Pages.Administrators.IndexModel

<table id="users" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            @foreach (string rowName in Model.RowNames)
            {
                <th>@rowName</th>
            }
        </tr>
    </thead>

    @foreach (IdentityUser user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.NormalizedUserName</td>
            <td>@user.Email</td>
            <td>@user.NormalizedEmail</td>
            <td>@user.EmailConfirmed</td>
            <td>@user.PasswordHash</td>
            <td>@user.SecurityStamp</td>
            <td>@user.ConcurrencyStamp</td>
            <td>@user.PhoneNumber</td>
            <td>@user.PhoneNumberConfirmed</td>
            <td>@user.TwoFactorEnabled</td>
            <td>@user.LockoutEnd</td>
            <td>@user.LockoutEnabled</td>
            <td>@user.AccessFailedCount</td>
        </tr>
    }
</table>